#header{
    height: 100px;
    background-color: rgb(123, 227, 251);
}
.header_nav{
    width: 1100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_nav_logo{
    font-size: 40px;
    font-family: 'Comic Neue', cursive;
    color: rgb(51, 51, 51);
}
.header_nav_login{
    font-size: 18px;
    font-weight: 600;
}
.header_nav_logo_right{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my_page_logo{
    color: white;
}

.content_wrap{
    width: 1100px;
    height: 100%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.content {
    width: 840px;
    height: 740px;
    border: solid 1px #999999;
}
a{
    text-decoration: none;
    outline: none;
}
.menu_list a {
    display: block;
    width: 180px;
    height: 40px;
    margin-bottom: 4px;
    padding-left: 6px;
    border: solid 1px #999999;
    border-radius: 2px;
    line-height: 40px;
    color: #222222;
}
.menu_list li:nth-child(2) a {
    border: solid 1px rgb(123, 227, 251);
    background-color: rgb(123, 227, 251);
    color: white;
}
.menu_list a:hover {
    border: solid 1px deepskyblue;
}
.content_header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #999999;
}
.title_wrap {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 45%;
}
.total_count {
    transform: translate(-12px, 26px);
}

.detail_box{
    height: 220px;
    width: 830px;
    padding: 5px;
    border-bottom: 1px solid grey;
    display: flex;
    font-size: 13px;
}
.detail_img{
    margin: 35px 10px 35px 10px;
    width: 200px;
    height: 150px;
    display: block;
    background-size: cover;
}
.detail_title_box{
    width: 400px;
    height: 220px;
}
.detail_title{
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
}
.detail_info{
    width: 400px;
    height: 33px;
    font-size: 15px;
    display: block;
    line-height: 30px;
    vertical-align: middle;
}
.detail_pay_box{
    width: 200px;
    height: 220px;
}
.pay_date{
    height: 160px;
    font-size: 17px;
    line-height: 160px;
    vertical-align: middle;
    text-align: center;
}
.review_button{
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 4%;
    background-color: rgb(123, 227, 251);
    cursor: pointer;
}