<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<div class="main-container">
		<div class="main-wrap">
            <header>
                <div class="logo-wrap">
                    <b>SpringMaBell</b>
                </div>
            </header>
            <section class="login-input-section-wrap">
                <div class="login-input-wrap">	
                    <input placeholder="아이디" type="text"></input>
                </div>
                <div class="login-input-wrap password-wrap">	
                    <input placeholder="비밀번호" type="password"></input>
                </div>
                <div class="login-button-wrap">
                    <a href="#"><button>로그인</button></a>
                </div>
            </section>
            <section class="Easy-sgin-in-wrap">
                <div class="find_info">
					<a target="_blank" class="forget-msg" href="#">아이디 찾기</a> 
                    <span class="bar" aria-hidden="true">|</span> 
                    <a target="_blank" class="forget-msg" href="#">비밀번호 찾기</a> 
                    <span class="bar" aria-hidden="true">|</span> 
                    <a target="_blank" class="forget-msg" href="#">회원가입</a>
				</div>
            </section>
            <footer>
            </footer>
		</div>
	</div>
<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</body>
</html>