<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개인정보 관리</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/my_info.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="wrap">

    <div id="header">
        <div class="header_nav">
            <div class="header_nav_logo">
                <a href="">RingMaBody</a>
                <span>MY PAGE</span>
            </div>
            <div class="header_nav_logo_right">
                <div class="header_nav_login">
                    <a href="">김프링 회원님</a>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div><!--end header_nav-->
    </div><!--end header-->

    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="#">개인정보 관리</a></li>
                    <li><a href="#">결제한 내역</a></li>
                    <li><a href="#">스크랩</a></li>
                    <li><a href="#">작성한 리뷰</a></li>
                </ul>
            </div>
            <div class="content">
                <form>
                    <div class="info_wrap">
                        <ul class="info_list">
                            <li class="profile_item picture_item">
                                <div class="picture_update_wrap">
                                    <div>
                                        <label class="picture" for="pictureInput">
                                            <img src="../img/prof.jpg"/>
                                        </label>
                                        <input type="file" id="pictureInput" class="picture_input" accept="image/jpg, image/jpeg, image/png" multiple="" style="display:none" onchange="setThumbnail(event);">
                                    </div>
                                </div>
                            </li>
                            <li class="info_item">
                                <div>아이디</div>
                                <div>mabell4</div>
                            </li>
                            <li class="info_item pwd_item">
                                <div>비밀번호</div>
                                <div>
                                    <input id="pwdInput" type="text">
                                    <div class="valid pwd_valid">8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</div>
                                </div>
                            </li>
                            <li class="info_item pwd_check_item">
                                <div>비밀번호 확인</div>
                                <div class="pwd_update_wrap">
                                    <div>
                                        <input id="pwdCheckInput" type="text">
                                        <div class="valid pwd_check_valid">비밀번호가 일치하지 않습니다.</div>
                                    </div>
                                    <button type="button" class="btn pwdUpdateBtn">변경</button>
                                </div>
                            </li>
                            <li class="info_item">
                                <div>이름</div>
                                <div>김프링</div>
                            </li>
                            <li class="info_item phone_item">
                                <div>휴대전화</div>
                                <div class="phone_update_wrap">
                                    <div>
                                        <input id="phoneInput" type="text">
                                        <div class="valid phone_check_valid">유효한 휴대전화 번호를 입력해주세요.</div>
                                    </div>
                                    <button type="button" class="btn phoneUpdateBtn">변경</button>
                                </div>
                            </li>
                            <li class="info_item email_item">
                                <div>이메일</div>
                                <div class="email_update_wrap">
                                    <div>
                                        <input id="emailInput" type="text">
                                        <div class="valid email_check_valid">유효한 이메일을 입력해주세요.</div>
                                    </div>
                                    <button type="button" class="btn emailUpdateBtn">변경</button>
                                </div>
                            </li>
                            <li class="info_item">
                                <div>성별</div>
                                <div>여성</div>
                            </li>
                            <li class="info_item">
                                <div>생년월일</div>
                                <div>1996-1-16</div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>