<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>작성한 리뷰</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/my_review.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="wrap">

    
    <div id="header">
        <div class="header_nav">
            <div class="header_nav_logo">
                <a href="">RingMaBody</a>
                <span>MY PAGE</span>
            </div>
            <div class="header_nav_logo_right">
                <div class="header_nav_login">
                    <a href="">김프링 회원님</a>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div><!--end header_nav-->
    </div><!--end header-->

    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="my_info.html">개인정보 관리</a></li>
                    <li><a href="my_purchase.html">결제한 내역</a></li>
                    <li><a href="my_scrap.html">스크랩</a></li>
                    <li><a href="my_review.html">작성한 리뷰</a></li>
                </ul>
            </div>
            <div class="content">
                <form action="">
                    <div class="content_header">
                        <div class="title_wrap">
                            <div>작성한 리뷰</div>
                        </div>
                        <div class="count_wrap">
                            <div class="total_count">총 4개</div>
                        </div>
                    </div>

                    <div class="post_wrap">
                        <section>
                            <!--게시글 시작-->
                            <div class="inner">
                                <div class="find_a_list">

                                    <!--게시글 리스트-->
                                    <div class="post_list">
                                        <div class="review_box_top">
                                            <p class="review_rate_top">평점</p>
                                            <p class="review_title_top">제목</p>
                                            <p class="review_date_top">작성일</p>
                                            <p class="review_rec_top">추천수</p>
                                        </div>

                                        <div class="review_box">
                                            <p class="review_rate">5</p>
                                            <p class="review_title">너무 좋아요 강력추천</p>
                                            <p class="review_date">2021.04.05</p>
                                            <p class="review_rec">2</p>
                                        </div>
                                        <div class="review_box">
                                            <p class="review_rate">3</p>
                                            <p class="review_title">보통이네요</p>
                                            <p class="review_date">2020.12.22</p>
                                            <p class="review_rec">6</p>
                                        </div>
                                        <div class="review_box">
                                            <p class="review_rate">1</p>
                                            <p class="review_title">돈낭비한 기분이에요... 실망</p>
                                            <p class="review_date">2020.07.29</p>
                                            <p class="review_rec">15</p>
                                        </div>
                                        <div class="review_box">
                                            <p class="review_rate">4</p>
                                            <p class="review_title">추천합니다</p>
                                            <p class="review_date">2020.03.11</p>
                                            <p class="review_rec">10</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="paging_btn_wrap">
                        <div class="post_paging_btn_wrap"></div>
                    </div>

                </form>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>