<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/payment_admin_2.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="wrap">

    <div id="header">
        <div class="header_nav">
            <div class="header_nav_logo">
                <a href="">RingMaBody</a>
                <span class="my_page_logo">MY PAGE</span>
            </div>
            <div class="header_nav_logo_right">
                <div class="header_nav_login">
                    <a href="">관리자</a>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div><!--end header_nav-->
    </div><!--end header-->

    <div id="container">
        <div class="content_wrap">
            <div class="menu">
                <ul class="menu_list">
                    <li><a href="#">고객 관리</a></li>
                    <li><a href="#">강사 관리</a></li>
                    <li><a href="#">예약 관리</a></li>
                    <li><a href="#">결제 관리</a></li>
                    <li><a href="#">게시판 관리</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="bulletin-date">
                    <b class="bulletin-date-text">2020.04 결제</b>
                </div>

                <table>
                <thead>
                    <tr>
                    <th class="jb-th-1">ID</th><th>NAME</th><th>TITLE</th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="jb-td-1">A1001</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1002</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1003</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1004</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1005</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                </tbody>
                </table>


                <div class="bulletin-date">
                    <b class="bulletin-date-text">2020.05 결제</b>
                </div>
                <table>
                <thead>
                    <tr>
                    <th class="jb-th-1">ID</th><th>NAME</th><th>TITLE</th><th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td class="jb-td-1">A1001</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1002</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1003</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1004</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                    <tr>
                    <td class="jb-td-1">A1005</td><td>김원희</td><td>기구필라테스 @ 내 몸의 균형 찾아가기</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div><!--end container-->

    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>