<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강사 수업상세</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/teacher.classDetail.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="wrap">
	<div id="header">
		<div class="header_nav">
            <div class="header_nav_logo">
                <b>SpringMaBell MYPAGE</b>
            </div>
         
            <div data-obj-id="3KCV6" data-obj-type="element" data-text-editable="true" class="" style="float:right;">
            <div data-text-content="true" style="font-weight:bold;font-size:25px" class="">김원희 강사님  
            	<IMG SRC="teacher_profile.PNG" ALIGN="right" style="width:70px; height:70px; display:inline-block">
            </div>
            <select class="form-select" id="select" name="select" style="float:right;">
                                    <option value="1">프로필 관리</option>
                                    <option value="2">개인정보 관리</option>
                                    <option value="3">수업 등록</option>
                                    <option value="4">게시물 관리</option>
                                    <option value="5">정산 내역</option>
           </select>
           </div>
		</div>
	</div>
       
        <div class="content">

               
      
       <br>
       <IMG SRC="filates.PNG" style="width:1300px; height:400px;">
       <h1>수업소개</h1>
       <br>
       <br>
       <h2>필라테스! 어렵게만 느껴지셨나요? 필라테스를 도전하고 싶은 분들,</h2> 
       <p>시작은 했지만 꾸준하게 이어나가기 어려운 분들</p>
       <p>모두 저와 함께라면 좀 더 쉽고 효과적인 운동법으로</p>
       <p>친숙하게 필라테스에 다가갈 수 있답니다.</p>
       <br>
       <br>
       <p>미니 짐볼, 필라테스 링, 밴드를 이용하며,</p>
       <p>탄성을 이용해 몸에 무리가 가지 않도록 하면서 근력 강화 효과까지도 챙깁니다.</p> 
       <p>군살제거에 효과적이며, 다양한 소도구를 이용해 지루하지 않고</p>
       <p>훨씬 재미있게 운동해볼게요!</p>
       <br>
       <br>
       <p>미니 짐볼, 필라테스 링, 밴드를 이용하여 필라테스의 효과를 더 끌어올리도록 합니다.</p>
       <p>필라테스를 처음 접하시는 분들도 어렵지 않게 따라올 수 있도록 구성하였으며,</p> 
       <p>라인을 골고루 다듬어갈 수 있는 프로그램입니다.</p>
       <br>
      
       
       <br>
       <br>
       <h3>필라테스</h3>

       
       <br>
       <div class="class_list">
       <div class='detail_box'>                                 
		<div class="detail_title_box">
		<p class='detail_title'>기구필라테스 @ 내 몸의 군형 찾아가기</p>
		<p class='detail_info detail_category'><i class="fas fa-tag"></i>&nbsp;요가/필라테스</p>
        <p class='detail_info detail_time'><i class="far fa-calendar-alt"></i>&nbsp;2021-04-10 pm02:00</p>
        <p class='detail_info detail_location'><i class="fas fa-map-marker-alt"></i>&nbsp;서울 강남구 봉은사로38길 12 3층</p>
        <p class='detail_info detail_people'><i class="fas fa-user"></i>&nbsp;5명 (최소인원 2명)</p>
        <p class='detail_info detail_value'><i class="fas fa-won-sign"></i>&nbsp;15,000</p>
        </div>
        </div>
		</div>
       <h>D-14</h>
       
       <br>
 		<span style="float:left;">
 		 <button id="button">수정</button>
 		 <button id="button">삭제</button>
 		</span>
       
       <br>
       <br>
       <br>
       <h1>강사 프로필</h1>
       <br>
       <IMG SRC="teacher_profile.PNG" ALIGN="left" style="width:250px; height:200px;">
       <h3>이름 : 김수진</h3>
       <br>
       <h3>경력 : 9년</h3>
       <br>
       <br>
       <br>
       <p>어느덧 필라테스 강사 9년차에 접어들었네요.</p>
       <p>9년간의 필라테스 강의와 요가,웨이트,폴댄스 등등</p> 
       <p>여러 분야의 운동들을 접하며 쌓아온 저만의 몸매 만들기 노하우를 여러분들에게 모두 경험하게 해드릴게요❤️</p>
       <br>
       <br>
       <br>
       <br>
       <p>첫 번째 클래스는 필라테스를 처음 시작하시는 분들을 위한 클래스를 진행하고 있어요.</p> 
       <p>누구나 운동을 시작하고 싶은 분이라면 용기내어 시작할 수 있는 클래스입니다.</p> 
       <p>필라테스 입문자 클래스에 이어서 운동이 어느 정도 익숙하고 홈트경력이 있으신 중급자분들을 위해</p>
       <p>두 번째 클래스를 준비하고 있어요! 이미 유튜브에서 수많은 후기로 인증된 무나홈트 운동!</p> 
       <p>여러분은 어떤 운동이 필요하신가요? 무나홈트와 함께 건강한 생활을 시작해요!</p>
       <br>
       
       <br>
       <br>
       <h1>후기</h1>
       <br>
       <IMG SRC="df_img.jpg" ALIGN="left" style="width:150px; height:150px;">
       <p>오** 회원님</p>
       <br>
       <p>제가 몸이 유연한 편이 아니라 걱정을 많이 했는데, 처음하는 사람도 잘 따라할 수 있게 설명해주셔서 너무 좋았습니다 !!</p>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <IMG SRC="df_img.jpg" ALIGN="left" style="width:150px; height:150px;">
       <p>김** 회원님</p>
       <br>
       <p>제가 몸이 유연한 편이 아니라 걱정을 많이 했는데, 처음하는 사람도 잘 따라할 수 있게 설명해주셔서 너무 좋았습니다 !!</p>
       
       </div>
       
      

    </div><!--end container-->
    <div id="footer"></div><!--end footer-->

</div><!--end wrap-->



</body>
</html>