<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강사 마이페이지</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/teacher.mypage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

<div id="wrap">
	<div id="header">
		<div class="header_nav">
            <div class="header_nav_logo">
                <b>SpringMaBell MYPAGE</b>
            </div>
         
            <div data-obj-id="3KCV6" data-obj-type="element" data-text-editable="true" class="" style="float:right;">
            <div data-text-content="true" style="font-weight:bold;font-size:25px" class="">김원희 강사님  
            	<IMG SRC="teacher_profile.PNG" ALIGN="right" style="width:70px; height:70px; display:inline-block">
            </div>
            <select class="form-select" id="select" name="select" style="float:right;">
                                    <option value="1">프로필 관리</option>
                                    <option value="2">개인정보 관리</option>
                                    <option value="3">수업 등록</option>
                                    <option value="4">수업 관리</option>
                                    <option value="5">정산 내역</option>
           </select>
           </div>
		</div>
	</div>
</div>

	<div style="width:1000px">
		<div style="width:300px; margin:80px auto"><h3><i class="fas fa-user"></i>&nbsp;프로필관리</h3>
			<p>강사님의 프로필을 관리하는 공간입니다.</p>
			<a class="btn btn-dark" href="" >들어가기</a></div>
        <div style="width:300px; margin:80px auto"><h3><i class="fas fa-user"></i>&nbsp;개인정보관리</h3>
			<p>강사님의 개인정보를 관리하는 공간입니다.</p>
			<a class="btn btn-dark" href="" >들어가기</a></div>
		<div style="width:300px; margin:80px auto"><h3><i class="fas fa-user"></i>&nbsp;게시물관리</h3>
			<p>등록하신 수업 게시물을 확인할 수 있는 공간입니다.</p>
			<a class="btn btn-dark" href="" >들어가기</a></div>
		<div style="width:300px; margin:80px auto"><h3><i class="fas fa-won-sign"></i>&nbsp;정산내역</h3>
			<p>정산 내역을 확인할 수 있는 공간입니다.</p>
			<a class="btn btn-dark" href="" >들어가기</a></div>
		<div style="width:300px; margin:80px auto"><h3><i class="far fa-calendar-alt"></i>&nbsp;수업등록</h3>
			<p>수업 게시물을 등록하는 공간입니다.</p>
			<a class="btn btn-dark" href="" >들어가기</a></div>
	</div>
</body>
</html>